:root{--brand-color:#2196F3;}
:root{--text-color:#757575;}
:root{--text2-color:#FFFFFF;}
:root{--dominat-color:#212121;}
:root{--butt-color:rgba(255, 255, 255, 0.6);}
:root{--background-color:#F5F4FA;}
:root{--cards-color: #EEEEEE;}
:root{--background-index:#2F303A;}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.service-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.text-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    height: auto;
    text-align:left;
    padding-left: 0%;
    }

.text-item{
 width: 270px;
 margin: 10px;   
}
.ul-footer{
    padding-left: 0px;
    margin-left: 20px;
    margin-top:5px;
}
.log-ubication{
    margin-left: 20px;
    
}
.img-container{
    display: flex;
    flex-wrap: wrap;
    padding:0;
    
}
.img-item{
    margin: 11.34px;
}
.img-item:first-child{
    margin-left: 20px;
}
h2{
    text-align: center;
}
.team-conteiner{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 20px;
    padding:0px;
}

.team-item{
    background: var(--text2-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 10px;
    
}
.team-item:first-child{
    margin-left: 0px;
}
.team-item:last-child{
    margin-right: 0px;
}

.bggray{background-color: var(--background-color);}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
    }
.container{
    width: 1200px;
}

.card-item{
    border: 1px solid var(--cards-color);
    margin: 15px;
    height: 404px;
}
.card-item:hover,.card-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} 
.container-cards{
    display: flex;
    align-content: flex-start;
    flex-wrap:wrap;
}

    
.container-btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

.item-btn{margin:4px;}  

header {
    background-color: var(--text2-color);
}

.menu-item,.footer-items{display:flex;}
.menu-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  }

body{
    font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
    color: var(--dominat-color);
    ;
}

.img-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    width: 300px;
}

.img-subtitle{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 2.5;
}

.link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--dominat-color);
display:block;
padding:25px;
}
.link:hover, .link:focus, .linkto:hover, .linkto:focus, .colorl:hover, .colorl:focus{
color:var(--brand-color);
}

.colorl{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--text-color);
padding: 5px;
}

.here{
    color:var(--brand-color);}

.webstudio{font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--brand-color);
}

.focus:hover, .focus:focus{
    color: var(--text2-color);
    background-color: var(--brand-color);
    }

.focus{

background: var(--background-color);
border-radius: 4px;
}

.butt{

font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
color: var(--text2-color);
background-color: var(--brand-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 260px;
padding-top: 10px;
padding-bottom: 10px;

}

.blackbackground{
    background-color: var(--background-index) ;
    padding-top:60px;
    padding-bottom:60px;
    
}

.blackbackground2{
    background-color: var(--background-index) ;
    height: 450px;
}
.colorw{

font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: var(--text2-color);
text-align: center;
width: 696px;

}

.colorw2{

font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text2-color);
width: 231px;
padding-left: 0px;
margin-left: 20px;
margin-top: 9px;
margin-bottom: 5px;
}

.linkto{

font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--butt-color);
}

.tituloin{

font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--dominat-color);
}
.subtituloin{

font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color);
}

.titulos2{

font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color:var(--dominat-color);
}
.titleteam{

font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color:var(--dominat-color);
}
.subtitleteam{

    font-family: 'Roboto';
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--text-color);
}

.pointer{ cursor:pointer;}

ul{
    list-style:none;
}

a{
    text-decoration: none;
}

.tit2{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
}